<!DOCTYPE html>
{% load staticfiles %}

{% load compress %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet" type="text/css">
        {% compress css %}
        <link href="{% static 'base/css/style.css' %}" rel="stylesheet" type="text/css">
        {% endcompress %}
        <title>
            {% block title %}
                Welcome to Django Ecommerce Store !!
            {% endblock %}
        </title>
    </head>
    <body>

        <meta name="viewport" content="width=device-width, initial-scale=1">
            <nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
                <div class="container ">
                    <!--<img src="{% static 'base/img/header_full.jpg' %}" class="bg"/>-->
                    <div class="navbar-header">
                           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                           </button>
                           <a href="{% url 'index' %}" class="navbar-brand"> Django Ecommerce Store</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="hvr-curl-top-right"><a href="{% url 'index' %}">Home</a> </li>
                            <li ><a href="#about">About</a> </li>
                            <li ><a href="#contact">Contact</a> </li>
                            {% if request.user.is_authenticated %}<li class="hvr-curl-top-right"><a href="{% url 'cart' %}" >My Shopping Cart</a></li>{% endif %}
                        </ul>
                        <div class="nav navbar-nav navbar-right navbar-form">
                            {% if request.user.is_authenticated %}
                                Welcome, {% if request.user.first_name %}
                            {{request.user.first_name}}
                            {%else%}
                                {{request.user.username}}
                            {% endif %}!<a href="{% url 'auth_logout' %}">Log Out</a>
                            {% else %}
                                Welcome, Unknown person! <a href="{% url 'auth_login' %}"> Log In </a> or <a href="{% url 'registration_register' %}">Register</a>
                            {% endif %}
                        </div>
                        </div>
                </div>
            </nav>

            <div class="jumbotron" id="top">
                <div class="container-fluid">
                    <img src="{% static 'base/img/bck_img_full.jpg' %}" class="bg"/>
                    <div class="parallax">
                        <div class="row">
                            {% block content %}
                            <div class="col-md-8 col-md-offset-2 col-sm-12 maincontent">
                                <div style="text-align:center"><h3>Welcome to our store !</h3></div>
                                {% for book in books %}
                                    <div class="storefront_book_display">
                                    <a href="{% url 'book_details' book.id %}">
                                        <img src="{% static 'base/img/empty_cover.jpg'%}">
                                        <span class="storefront_book_title">{{book.title}}</span>
                                        <span class="storefront_book_author">{{book.author}}</span>
                                    </a>
                                        {% if request.user.is_authenticated %}
                                        <span class="storefront_add_to_cart">
                                            <a href="{% url 'add_to_cart' book.id%}"> [Add to Cart] </a>
                                        </span>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row text-center navbar footer">
                <div class="col-md-12">
                    <p>2019 Django Ecommerce Store</p>
                </div>
            </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
